<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Merge Crops. Build Your Farm.</h1>
            <p class="home-text">Grow more with every merge – from small plots to a full harvest.</p>
            <a class="home-link"
                href="https://play.google.com/store/apps/details?id=org.nanobit.bigmerge&hl=en&gl=us">
                <img src="/img/home/btn.png" alt="google play" loading="lazy">
            </a>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="title-container">
        <h2>About the Game</h2>
    </div>
    <div class="container">
        <div class="about-wrapper">
            <h3>Started with basically nothing,<br/>
            now look at this place</h3>
            <p class="about-text">Big Farm: Merge Game transforms merging into a farming journey.<br/>
            Players start with basic resources and gradually unlock more complex production systems.<br class="desk"/> Every little thing you do
            somehow makes your farm a bit better - it all adds up.</p>
        </div>
    </div>
</section>
<section class="how-section" id="how">
    <div class="title-container">
        <h2>How To Play</h2>
    </div>
    <div class="container">
        <h3>Combine, harvest, expand</h3>
        <ul class="how-list">
            <li class="how-item h1">
                <img src="/img/how/one.png" alt="game" loading="lazy">
                <p class="how-item-title">Merge Resources</p>
                <p class="how-item-text">Combine identical items to create better tools and crops.</p>
            </li>
            <li class="how-item">
                <img src="/img/how/two.png" alt="game" loading="lazy">
                <p class="how-item-title">Unlock Production</p>
                <p class="how-item-text">Develop new chains for farming and crafting.</p>
            </li>
            <li class="how-item">
                <img src="/img/how/three.png" alt="game" loading="lazy">
                <p class="how-item-title">Complete Tasks</p>
                <p class="how-item-text">Follow objectives to guide farm growth.</p>
            </li>
            <li class="how-item">
                <img src="/img/how/four.png" alt="game" loading="lazy">
                <p class="how-item-title">Expand Land</p>
                <p class="how-item-text">Open new areas and increase capacity.</p>
            </li>
            <li class="how-item">
                <img src="/img/how/five.png" alt="game" loading="lazy">
                <p class="how-item-title">Optimize Output</p>
                <p class="how-item-text">Improve efficiency through smarter merging.</p>
            </li>
        </ul>
    </div>
</section>