<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Merge Crops. Build Your Farm.</h1>
            <p class="home-text">Grow more with every merge – from small plots to a full harvest.</p>
            <a class="home-link"
                href="https://play.google.com/store/apps/details?id=org.nanobit.bigmerge&hl=en&gl=us">
                <img src="/img/home/btn.png" alt="google play" loading="lazy">
            </a>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="title-container">
        <h2>About the Game</h2>
    </div>
    <div class="container">
        <div class="about-wrapper">
            <h3>Started with basically nothing,<br/>
            now look at this place</h3>
            <p class="about-text">Big Farm: Merge Game transforms merging into a farming journey.<br/>
            Players start with basic resources and gradually unlock more complex production systems.<br class="desk"/> Every little thing you do
            somehow makes your farm a bit better - it all adds up.</p>
        </div>
    </div>
</section>