<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Merge Crops. Build Your Farm.</h1>
            <p class="home-text">Grow more with every merge – from small plots to a full harvest.</p>
            <a class="home-link"
                href="https://play.google.com/store/apps/details?id=org.nanobit.bigmerge&hl=en&gl=us">
                <img src="/img/home/btn.png" alt="google play" loading="lazy">
            </a>
        </div>
    </div>
</section>