.footer {
border-top: 1px solid #395963;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-btn {
  width: 240px;
    height: 64px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  gap: 64px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-btn {
    order: 2;
  }

  .footer-navigation {
    order: 3;
    gap: 120px;
  }

  .footer-text {
    order: 1;
  }
}