.home-section {
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 860px;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title {
font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    color: #2e393c;
}

.home-text {
    margin-top: 10px;
font-family: "Funnel Display", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #2e393c;
}

.home-link {
    margin-top: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
border: 1px solid #2e393c;
    border-radius: 8px;
    width: 333px;
    height: 64px;
box-shadow: 0 2px 4px 0 rgba(67, 82, 87, 0.4);
background: linear-gradient(180deg,
            #5b7a84 0%,
            #395963 50%,
            #243c44 100%);
    transition: background 0.3s ease-in-out;
}

.home-link:hover {
background: linear-gradient(90deg, #2e393c 0%, #395963 100%);
}

@media only screen and (min-width: 1440px) {
    .home-section {
        background-image: url("/img/home/desk.png");
height: 1063px;
    }

    .home-wrapper {
        margin-top: 24px;
    }

    .home-title {
font-size: 64px;
    }

    .home-link {
margin-top: 40px;
width: 240px;
    height: 64px;
    }
}
/* About the Game */
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
    .desk{
        display: block;
    }
}
/* How To Play */
.how-section{
background: #d8edff;
}
.how-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.how-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
        height: 306px;
}
.how-item-title{
margin-top: 24px;
    font-weight: 700;
    color: #435257;
}
.how-item-text{
    margin-top: 8px;
    font-size: 12px;
}
@media only screen and (min-width: 1440px) {
.how-list{
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
width: 1093px;
margin-left: auto;
margin-right: auto;
}
.h1{
    margin-left: 1px;
}  
}
/* Farming Loop */
.farming-section{
    background-image: url("/img/farming/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 251px;
    height: 804px;
}
.farming-text{
    width: 313px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1440px) {
    .mob{
        display: none;
    }
.farming-section {
    background-image: url("/img/farming/desk.png");
    background-size: 100% 800px;
height: 1300px;
}

.farming-text {
    width: 100%;

}
}
/* Progression System */
.system-section{
    background: #d8edff;
}
/* Gallery */
.btn {
    display: none;
}

@media only screen and (min-width: 1440px) {
    .gallery-wrapper {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .gallery-container {
        position: relative;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
border-radius: 999px;
        background: #395963;
        width: 48px;
        height: 48px;
        border: none;
        transition: box-shadow 0.3s ease-in-out;
    }

    .btn:hover {
box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .gallery-next {
        right: 10%;
    }

    .gallery-prev {
        left: 10%;
    }
}
/* Reviews */
.reviews-section{
    background-color: #d8edff;
    height: 1232px;
    background-image: url("/img/reviews/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 187px;

}
.reviews-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.reviews-item{
border: 1px solid #e68e11;
background: #f7fbff;
    border-radius: 16px;
    padding: 16px;
    width: 343px;
    height: auto;
display: flex;
flex-direction: column;
gap: 16px;
}
.reviews-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.reviews-author{
    color: #435257;
}
.reviews-text{
font-size: 12px;
text-align: left;
}
@media only screen and (min-width: 1440px) {
.reviews-section{
    background-color: #d8edff;
height: 1230px;
    background-image: url("/img/reviews/desk.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 717px;

}
 .reviews-list{
flex-direction: row;
justify-content: center;
gap: 32px;
}
.reviews-item{
width: 211px;
    height: 162px;
}
}
/* FAQ */
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 0 auto;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;

}


.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    border: none;
    background: inherit;
    width: 100%;
font-family: "Asap", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
    color: #f5f5f5;
    padding: 8px;
border-bottom: 1px solid #8582ac;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
    border: none;
    background-color: inherit;

}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el.open .faq-acc-arr {
    transform: rotate(180deg);
}

.faq-acc-el-descr-frame {
    background: inherit;
    overflow: hidden;
    max-height: 0;
    text-align: left;
color: #cccae7;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}


.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;
    background: none;
    text-align: left;
color: #cccae7;
    padding: 8px;
    max-height: 500px;
}


@media only screen and (min-width: 1440px) {
    .faq-acc {
        width: 790px;
        gap: 40px;
    }

    .faq-acc-el {
        width: 790px;
    }

    .faq-acc-el-trigger {
        padding: 12px 8px;
        width: 790px;
    }
}